<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Credit Ease</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}">
</head>

<body>
    <header class="zoom-box">
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/rupee.png') }}" alt="Credit Ease Logo">
                Innov8ors
            </div>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('team') }}">Team</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('login') }}" id="getStartedBtn" class="btn btn-primary">Get Started</a></li>
            </ul>
        </nav>
    </header>
    <center style="margin: 2rem;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show" role="alert">
            {{ messages[0][1] }}
            <button type="button" class="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}

    </center>
    <div class="login-container">
        <div class="login-form zoom-box">
            <h2>Log In</h2>
            <form id="loginForm" method='POST'>
                <div class="form-group ">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group ">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-full zoom-box">Log in</button>
            </form><br><br>
            <!-- <p class="text-center">Don't have an account? <a href="#" id="signupLink">Sign up</a></p> -->
        </div>
    </div>
</body>

</html>